@model eCademy.NUh16.PhotoShare.Models.ImageViewModel
@{
    ViewBag.Title = Model.Title;
    const int MaxRating = 5;
    var username = "@" + Model.Username;
}

@Html.HiddenFor(model => model.Id)
<h2>@Model.Title</h2>
<div>
    <a href="#">
        <h4 class="username">
            @Html.Gravatar(Model.Email, 32)
            @Html.ActionLink(username, "Index", "User", new { Username = Model.Username }, null)
        </h4>
    </a>
    <div class="container">
        <div class="row">
            <hr />
            <div id="image" class="col-sm-8">
                <img class="img-responsive" src="@Model.ImageUrl" alt="@Model.Title" />
            </div>
            <div id="details" class="col-sm-4">
                <div class="row">
                    <div class="col-xs-8">
                        <div>
                            Score: <span class="score">@Model.Score.ToString("0.0")</span>
                        </div>
                        <div class="rating">
                            @if (User.Identity.IsAuthenticated)
                            {
                                for (int i = 1; i < MaxRating + 1; i++)
                                {
                                    if (i <= Model.Rating)
                                    {<span data-rating="@i" class="star glyphicon glyphicon-star"></span>}
                                    else
                                    {<span data-rating="@i" class="star glyphicon glyphicon-star-empty"></span>}
                                }
                                <span class="info pull-right">Click to rate!</span>
                            }
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div id="details-map" class="iframe-container">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="control-group">
                            <button class="btn btn-default">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
         </div>
    </div>
</div>
@section scripts {
    @Scripts.Render("~/bundles/exif")
    <script>
        function imageLoaded(img) {
            EXIF.getData(img, function () {
                var latitude = EXIF.getTag(this, "GPSLatitude");
                var longitude = EXIF.getTag(this, "GPSLongitude");

                var position = new google.maps.LatLng(toDecimal(latitude), toDecimal(longitude));
                map = new google.maps.Map(document.getElementById('details-map'), {
                    zoom: 13,
                    center: position,
                });
                map.setCenter(position);
                var marker = new google.maps.Marker({
                    position: position,
                    map: map
                });
            });
        }

        function toDecimal(number) {
            return number[0].numerator + number[1].numerator /
                (60 * number[1].denominator) + number[2].numerator / (3600 * number[2].denominator);
        };

        function initMap() {
            var $img = $("#image .img-responsive");
            var img = $img[0];
            if (img.complete) {
                imageLoaded(img);
            }
            $img.on('load', function () { imageLoaded(img); });
        }

        $(function () {
            var id = '@Model.Id';
            

            function updateScore(score) {
                $("#details span.score").html(score.toFixed(1));
            }
            function updateRating($element) {
                //Set filled stars up to user rating
                $element
                    .prevAll('.star')
                    .addBack()
                    .removeClass('glyphicon-star glyphicon-star-empty')
                    .addClass('glyphicon-star');

                //Set empty stars above user rating
                $element
                    .nextAll('.star')
                    .removeClass('glyphicon-star glyphicon-star-empty')
                    .addClass('glyphicon-star-empty');

            }

            $('.rating > span[data-rating]').on('click', function (element, b, c) {
                var $element = $(element.target);
                var data = $element.data();

                var id = $('#Id').val();
                $.ajax({
                    method: 'PUT',
                    url: '/Images/' + id + '/rate/' + data.rating
                }).then(
                    function (data) {
                        updateRating($element);
                        updateScore(data.newScore);
                    },
                    function (error) {
                        console.error(error)
                    }
                )
            })

        });
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBZhWYVZKZ0tTaP_903LoUZCPhOjeol15w&callback=initMap">
    </script>
}
